APP_PORT=8400
OMI_FRONTEND_PORT=3000
# API_PROXY_TARGET can be omitted when APP_PORT or OMI_BACKEND_PORT is set.
# API_PROXY_TARGET=http://127.0.0.1:8400
API_PROXY_PATH=/omi-data
NEXT_PUBLIC_API_PROXY_PATH=/omi-data
NEXT_PUBLIC_API_BASE_URL=
